*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.container{
    min-height: 100vh;
    /* background-color: rgb(173, 133, 175); */
    background-image: url(sun.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* background-color: rgb(251, 51, 51); */
    display: flex;
    justify-content: center;
    align-self: center;
}
.box{
    width: 40%;
    height: 500px;
    /* background-color: blueviolet; */
    /* background: linear-gradient(violet 20%,blueviolet 100%); */
    /* background-image: url(/img/sun.jpg); */
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    border-radius: 150px 0 ;
    box-shadow: 5px 10px 18px #000000;
    
}
.box:hover{
    /* background: linear-gradient(blueviolet 20%,violet 100%); */
    transition: 0.5s ease-out;
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
}
.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s ease-in;
    
}
.logo{
    margin: auto;
    position: relative;
    /* top: -100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo h1{
    margin: 10px;
    color: #78003c;
}
.logo p{
    color: #78003c;
    font-style: italic;
}
.box .logo img{
    height: 130px;
}
.logo h3{
    font-size: 17px;
    color: #78003c;
    font-family: cursive;
}
.input2{
    display: flex;   
    padding: 10px 20px;
    width:300px;
    margin-top: 10px;
    display: hidden;
    background:transparent ;
    outline: none;
    border: 2px solid #ffa100;
    border-radius: 20px 0 30px 0;
    color: rgb(255, 255, 255);
}
.input2:focus {
    outline: none;
    border-color: rgb(246, 0, 37);
    box-shadow: 0 0 5px rgb(246, 0, 37);
  }
.check{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: #ffa100;
}
.check :hover{
    color: #5f1c09;
    cursor: pointer;
}
.pad{
    background-color: #78003c;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px 0 30px 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.pad:hover{
        background-color: #ffa100;
}